.app-header {
  position: relative;
  z-index: 2; }
  .app-utility-head {
    height: 2em; }
    .app-utility-head > .wrapper {
      width: 100%;
      max-width: 60rem;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-end; }
      @media (max-width: 62rem) {
        .app-utility-head > .wrapper {
          margin-left: 1rem;
          margin-right: 1rem;
          width: calc(100% - 2rem); } }
      .ua-ie-9 .app-utility-head > .wrapper:before, .ua-ie-8 .app-utility-head > .wrapper:before, .ua-ie-9 .app-utility-head > .wrapper:after, .ua-ie-8 .app-utility-head > .wrapper:after {
        content: " ";
        display: table; }
      .ua-ie-9 .app-utility-head > .wrapper:after, .ua-ie-8 .app-utility-head > .wrapper:after {
        clear: both; }
      .app-utility-head > .wrapper > * {
        float: left; }
    .app-utility-head .utility-head-nav {
      border-right: 1px solid #cccccc; }
      .app-utility-head .utility-head-nav ul {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center; }
        .ua-ie-9 .app-utility-head .utility-head-nav ul:before, .ua-ie-8 .app-utility-head .utility-head-nav ul:before, .ua-ie-9 .app-utility-head .utility-head-nav ul:after, .ua-ie-8 .app-utility-head .utility-head-nav ul:after {
          content: " ";
          display: table; }
        .ua-ie-9 .app-utility-head .utility-head-nav ul:after, .ua-ie-8 .app-utility-head .utility-head-nav ul:after {
          clear: both; }
        .app-utility-head .utility-head-nav ul > * {
          float: left; }
        .app-utility-head .utility-head-nav ul li {
          margin-right: 1em; }
          .app-utility-head .utility-head-nav ul li a {
            display: block;
            font-size: .625em;
            color: #707070; }
    .app-utility-head .language-chooser {
      position: relative;
      margin-left: .75em; }
      .app-utility-head .language-chooser .language {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        font-size: .625em;
        color: #898989; }
        .ua-ie-9 .app-utility-head .language-chooser .language:before, .ua-ie-8 .app-utility-head .language-chooser .language:before, .ua-ie-9 .app-utility-head .language-chooser .language:after, .ua-ie-8 .app-utility-head .language-chooser .language:after {
          content: " ";
          display: table; }
        .ua-ie-9 .app-utility-head .language-chooser .language:after, .ua-ie-8 .app-utility-head .language-chooser .language:after {
          clear: both; }
        .app-utility-head .language-chooser .language > * {
          float: left; }
        .app-utility-head .language-chooser .language:after {
          content: '';
          display: inline-block;
          height: 0;
          width: 0;
          border-top: 3px solid #898989;
          border-left: 2px solid transparent;
          border-right: 2px solid transparent;
          margin-left: .45em; }
      .app-utility-head .language-chooser ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: none; }
    .app-utility-head .newsletter-signup {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      margin-left: 1em; }
      .ua-ie-9 .app-utility-head .newsletter-signup:before, .ua-ie-8 .app-utility-head .newsletter-signup:before, .ua-ie-9 .app-utility-head .newsletter-signup:after, .ua-ie-8 .app-utility-head .newsletter-signup:after {
        content: " ";
        display: table; }
      .ua-ie-9 .app-utility-head .newsletter-signup:after, .ua-ie-8 .app-utility-head .newsletter-signup:after {
        clear: both; }
      .app-utility-head .newsletter-signup > * {
        float: left; }
      .app-utility-head .newsletter-signup input {
        border: 2px solid #898989;
        font-size: .625em;
        padding: .35em 1em .25em 2em;
        height: auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        min-width: 18em;
        font-family: "Trebuchet", "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
  .app-main-head {
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid #cccccc; }
    .app-main-head > .wrapper {
      width: 100%;
      max-width: 60rem;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: flex-end; }
      @media (max-width: 62rem) {
        .app-main-head > .wrapper {
          margin-left: 1rem;
          margin-right: 1rem;
          width: calc(100% - 2rem); } }
      .ua-ie-9 .app-main-head > .wrapper:before, .ua-ie-8 .app-main-head > .wrapper:before, .ua-ie-9 .app-main-head > .wrapper:after, .ua-ie-8 .app-main-head > .wrapper:after {
        content: " ";
        display: table; }
      .ua-ie-9 .app-main-head > .wrapper:after, .ua-ie-8 .app-main-head > .wrapper:after {
        clear: both; }
      .app-main-head > .wrapper > * {
        float: left; }
    .app-main-head .site-logo {
      height: 4.6em;
      width: auto;
      display: block;
      margin-right: 2em; }
    .app-main-head .main-head-nav {
      align-self: flex-end;
      color: #362f2d;
      flex-grow: 1; }
      .app-main-head .main-head-nav > ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-evenly; }
        .ua-ie-9 .app-main-head .main-head-nav > ul:before, .ua-ie-8 .app-main-head .main-head-nav > ul:before, .ua-ie-9 .app-main-head .main-head-nav > ul:after, .ua-ie-8 .app-main-head .main-head-nav > ul:after {
          content: " ";
          display: table; }
        .ua-ie-9 .app-main-head .main-head-nav > ul:after, .ua-ie-8 .app-main-head .main-head-nav > ul:after {
          clear: both; }
        .app-main-head .main-head-nav > ul > * {
          float: left; }
        .app-main-head .main-head-nav > ul > li {
          border: 1px solid transparent;
          border-radius: 0.5em 0.5em 0 0; }
          .app-main-head .main-head-nav > ul > li > a {
            font-size: .75em;
            display: block;
            padding: .75em 1em;
            position: relative;
            z-index: 2;
            border-bottom: 1px solid transparent;
            margin-bottom: -1px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: center; }
            .ua-ie-9 .app-main-head .main-head-nav > ul > li > a:before, .ua-ie-8 .app-main-head .main-head-nav > ul > li > a:before, .ua-ie-9 .app-main-head .main-head-nav > ul > li > a:after, .ua-ie-8 .app-main-head .main-head-nav > ul > li > a:after {
              content: " ";
              display: table; }
            .ua-ie-9 .app-main-head .main-head-nav > ul > li > a:after, .ua-ie-8 .app-main-head .main-head-nav > ul > li > a:after {
              clear: both; }
            .app-main-head .main-head-nav > ul > li > a > * {
              float: left; }
            .app-main-head .main-head-nav > ul > li > a:after {
              content: '';
              display: inline-block;
              height: 0;
              width: 0;
              border-top: 5px solid #362f2d;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              margin-left: .45em; }
          .app-main-head .main-head-nav > ul > li .sub-nav {
            display: none;
            position: absolute;
            z-index: 1;
            top: 100%;
            width: 100%;
            left: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.9);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s; }
            .app-main-head .main-head-nav > ul > li .sub-nav.hovered-item {
              background-color: white; }
              .app-main-head .main-head-nav > ul > li .sub-nav.hovered-item > ul > li {
                opacity: .5; }
                .app-main-head .main-head-nav > ul > li .sub-nav.hovered-item > ul > li.hovered {
                  opacity: 1; }
            .app-main-head .main-head-nav > ul > li .sub-nav ul {
              width: 100%;
              max-width: 60rem;
              margin: 0 auto;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex; }
              @media (max-width: 62rem) {
                .app-main-head .main-head-nav > ul > li .sub-nav ul {
                  margin-left: 1rem;
                  margin-right: 1rem;
                  width: calc(100% - 2rem); } }
              .ua-ie-9 .app-main-head .main-head-nav > ul > li .sub-nav ul:before, .ua-ie-8 .app-main-head .main-head-nav > ul > li .sub-nav ul:before, .ua-ie-9 .app-main-head .main-head-nav > ul > li .sub-nav ul:after, .ua-ie-8 .app-main-head .main-head-nav > ul > li .sub-nav ul:after {
                content: " ";
                display: table; }
              .ua-ie-9 .app-main-head .main-head-nav > ul > li .sub-nav ul:after, .ua-ie-8 .app-main-head .main-head-nav > ul > li .sub-nav ul:after {
                clear: both; }
              .app-main-head .main-head-nav > ul > li .sub-nav ul > * {
                float: left; }
              .app-main-head .main-head-nav > ul > li .sub-nav ul li {
                padding: .75em 1em;
                border-bottom: .5em solid transparent;
                text-align: center;
                width: 7.5em;
                position: relative;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s; }
                .app-main-head .main-head-nav > ul > li .sub-nav ul li a {
                  font-size: .75em; }
                  .app-main-head .main-head-nav > ul > li .sub-nav ul li a img {
                    display: block;
                    margin: 0 auto; }
                .app-main-head .main-head-nav > ul > li .sub-nav ul li .sub-nav {
                  top: calc(100% + .5em);
                  left: 0;
                  right: auto;
                  width: auto; }
                  .app-main-head .main-head-nav > ul > li .sub-nav ul li .sub-nav.hovered-item > ul > li {
                    opacity: .5; }
                    .app-main-head .main-head-nav > ul > li .sub-nav ul li .sub-nav.hovered-item > ul > li.hovered {
                      opacity: 1; }
                  .app-main-head .main-head-nav > ul > li .sub-nav ul li .sub-nav:before, .app-main-head .main-head-nav > ul > li .sub-nav ul li .sub-nav:after {
                    background: inherit;
                    content: '';
                    display: block;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    width: 100vw; }
                  .app-main-head .main-head-nav > ul > li .sub-nav ul li .sub-nav:before {
                    right: 100%; }
                  .app-main-head .main-head-nav > ul > li .sub-nav ul li .sub-nav:after {
                    left: 100%; }
                .app-main-head .main-head-nav > ul > li .sub-nav ul li.has-sub-nav:hover {
                  border-color: #e62126; }
                  .app-main-head .main-head-nav > ul > li .sub-nav ul li.has-sub-nav:hover > .sub-nav {
                    display: block; }
          .app-main-head .main-head-nav > ul > li:hover {
            border-color: #cccccc;
            border-bottom-color: #ffffff; }
            .app-main-head .main-head-nav > ul > li:hover > a {
              border-color: #ffffff; }
              .app-main-head .main-head-nav > ul > li:hover > a:after {
                border-top-color: #e62126; }
            .app-main-head .main-head-nav > ul > li:hover > .sub-nav {
              display: block;
              border-top: 1px solid #cccccc;
              margin-top: -1px; }
    .app-main-head .where-to-buy-block {
      align-self: stretch;
      height: 100%;
      overflow: hidden; }
      .app-main-head .where-to-buy-block > .wrapper {
        transform: translateY(calc(100% - 1.75em));
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .app-main-head .where-to-buy-block.active > .wrapper {
        transform: translateY(0); }
      .app-main-head .where-to-buy-block nav {
        background: #cccccc;
        /* Old browsers */
        background: -moz-linear-gradient(top, #cccccc 0%, #898989 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #cccccc 0%, #898989 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #cccccc 0%, #898989 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#898989',GradientType=0 );
        /* IE6-9 */
        text-align: center;
        border-radius: 1em 1em 0 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .ua-ie-9 .app-main-head .where-to-buy-block nav:before, .ua-ie-8 .app-main-head .where-to-buy-block nav:before, .ua-ie-9 .app-main-head .where-to-buy-block nav:after, .ua-ie-8 .app-main-head .where-to-buy-block nav:after {
          content: " ";
          display: table; }
        .ua-ie-9 .app-main-head .where-to-buy-block nav:after, .ua-ie-8 .app-main-head .where-to-buy-block nav:after {
          clear: both; }
        .app-main-head .where-to-buy-block nav > * {
          float: left; }
        .app-main-head .where-to-buy-block nav a {
          display: block;
          width: 50%;
          padding: .875em 0;
          font-weight: 100;
          font-size: .625em;
          color: #000000;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          justify-content: center; }
          .ua-ie-9 .app-main-head .where-to-buy-block nav a:before, .ua-ie-8 .app-main-head .where-to-buy-block nav a:before, .ua-ie-9 .app-main-head .where-to-buy-block nav a:after, .ua-ie-8 .app-main-head .where-to-buy-block nav a:after {
            content: " ";
            display: table; }
          .ua-ie-9 .app-main-head .where-to-buy-block nav a:after, .ua-ie-8 .app-main-head .where-to-buy-block nav a:after {
            clear: both; }
          .app-main-head .where-to-buy-block nav a > * {
            float: left; }
          .app-main-head .where-to-buy-block nav a:nth-of-type(1) {
            border-right: 1px solid rgba(0, 0, 0, 0.25); }
          .app-main-head .where-to-buy-block nav a:nth-of-type(2) {
            border-left: 1px solid rgba(255, 255, 255, 0.25); }
      .app-main-head .where-to-buy-block form {
        background: #707070;
        /* Old browsers */
        background: -moz-linear-gradient(top, #707070 0%, #505050 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #707070 0%, #505050 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #707070 0%, #505050 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#505050',GradientType=0 );
        /* IE6-9 */
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        padding: .5em; }
        .ua-ie-9 .app-main-head .where-to-buy-block form:before, .ua-ie-8 .app-main-head .where-to-buy-block form:before, .ua-ie-9 .app-main-head .where-to-buy-block form:after, .ua-ie-8 .app-main-head .where-to-buy-block form:after {
          content: " ";
          display: table; }
        .ua-ie-9 .app-main-head .where-to-buy-block form:after, .ua-ie-8 .app-main-head .where-to-buy-block form:after {
          clear: both; }
        .app-main-head .where-to-buy-block form > * {
          float: left; }
        .app-main-head .where-to-buy-block form input {
          border: 2px solid #000000;
          background-color: #ffffff; }
        .arrow-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: 0;
          padding: 0;
          margin: 0;
          display: inline-block;
          background: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          margin: .5em;
          position: relative;
          font-family: "Trebuchet", "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
          .ua-ie-9 .arrow-button:before, .ua-ie-8 .arrow-button:before, .ua-ie-9 .arrow-button:after, .ua-ie-8 .arrow-button:after {
            content: " ";
            display: table; }
          .ua-ie-9 .arrow-button:after, .ua-ie-8 .arrow-button:after {
            clear: both; }
          .arrow-button > * {
            float: left; }
          .arrow-button:before {
            content: '';
            margin: 0;
            padding: 0;
            display: block;
            border-radius: 100%;
            overflow: hidden;
            z-index: 1;
            position: relative;
            background-color: #e62126;
            height: 14px;
            width: 14px; }
          .arrow-button:after {
            content: '';
            display: block;
            z-index: 2;
            position: absolute;
            left: 5px;
            top: 3px;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 5px solid #ffffff; }
          .arrow-button span {
            margin-left: .5em;
            font-size: .75em; }
        .app-main-head .where-to-buy-block form .arrow-button {
          color: #ffffff; }

/*# sourceMappingURL=AppHeader.css.map */
