@import "../../styles/variables";
@import "../../styles/mixins";

.app-header
{
    position: relative;
    z-index: 2;
    @at-root .app-utility-head
    {
        height:2em;

        > .wrapper
        {
            @include page-width-wrapper;
            @include flex();
            justify-content: flex-end;
        }

        .utility-head-nav
        {
            border-right: 1px solid $color_gray_1;
            ul
            {
                height: 100%;
                @include flex();
                align-items: center;
                li
                {
                    margin-right: 1em;
                    a
                    {
                        display: block;
                        font-size: .625em;
                        color: $color_gray_3;
                    }
                }
            }
        }

        .language-chooser
        {
            position: relative;
            margin-left: .75em;
            .active-language
            {

            }

            .language
            {
                @include flex();
                align-items: center;
                font-size: .625em;
                color: $color_gray_2;

                img
                {

                }

                &:after
                {
                    content: '';
                    display: inline-block;
                    height: 0;
                    width: 0;
                    border-top: 3px solid $color_gray_2;
                    border-left: 2px solid transparent;
                    border-right: 2px solid transparent;
                    margin-left: .45em;
                }
            }

            ul
            {
                position: absolute;
                top: 100%;
                left: 0;
                display: none;
                li
                {

                }
            }
        }

        .newsletter-signup
        {
            @include flex();
            align-items: center;
            margin-left: 1em;

            input
            {
                border: 2px solid $color_gray_2;
                font-size: .625em;
                padding: .35em 1em .25em 2em;
                height: auto;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                outline: none;
                min-width: 18em;
                font-family: $font_2;
            }
            .arrow-button
            {

            }
        }

    }

    @at-root .app-main-head
    {
        background-color: $color_white_1;
        position: relative;
        border-bottom: 1px solid $color_gray_1;
        > .wrapper
        {
            @include page-width-wrapper;
            @include flex();
            align-items: flex-end;
        }

        .site-logo
        {
            height: 4.6em;
            width: auto;
            display: block;
            margin-right: 2em;
        }

        .main-head-nav
        {
            align-self: flex-end;
            color: $color_gray_5;
            flex-grow: 1;
            > ul
            {
                @include flex();
                justify-content: space-evenly;

                > li
                {
                    border: 1px solid transparent;
                    border-radius: .5em .5em 0 0 ;
                    > a
                    {
                        font-size: .75em;
                        display: block;
                        padding: .75em 1em;
                        position: relative;
                        z-index: 2;
                        border-bottom: 1px solid transparent;
                        margin-bottom: -1px;
                        @include flex();
                        align-items: center;

                        &:after
                        {
                            content: '';
                            display: inline-block;
                            height: 0;
                            width: 0;
                            border-top: 5px solid $color_gray_5;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            margin-left: .45em;
                        }
                    }

                    .sub-nav
                    {
                        display: none;
                        position: absolute;
                        z-index: 1;
                        top: 100%;
                        width: 100%;
                        left: 0;
                        right: 0;
                        background-color: rgba(255,255,255, .9);
                        @include transition();

                        &.hovered-item
                        {
                            background-color: rgba(255,255,255, 1);
                            > ul
                            {
                                > li
                                {
                                    &:not(.hovered)
                                    {
                                        opacity: .5;
                                    }
                                    &.hovered
                                    {
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        ul
                        {
                            @include page-width-wrapper;
                            @include flex();

                            li
                            {
                                padding: .75em 1em;
                                border-bottom: .5em solid transparent;
                                text-align: center;
                                width: 7.5em;
                                position: relative;
                                @include transition();
                                a
                                {
                                    font-size: .75em;
                                    img
                                    {
                                        display: block;
                                        margin: 0 auto;
                                    }
                                }

                                .sub-nav
                                {
                                    top: calc(100% + .5em);
                                    left: 0;
                                    right: auto;
                                    width: auto;

                                    &.hovered-item
                                    {
                                        > ul
                                        {
                                            > li
                                            {
                                                opacity: .5;
                                                &.hovered
                                                {
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                    }

                                    &:before,
                                    &:after
                                    {
                                        background: inherit;
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        height: 100%;
                                        top: 0;
                                        width: 100vw;
                                    }
                                    &:before
                                    {
                                        right:  100%;
                                    }
                                    &:after
                                    {
                                        left:  100%;
                                    }
                                }

                                &.has-sub-nav:hover
                                {
                                    border-color: $color_1;
                                    > .sub-nav
                                    {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    &:hover
                    {
                        border-color: $color_gray_1;
                        border-bottom-color: $color_white_1;

                        > a
                        {
                            border-color: $color_white_1;
                            &:after
                            {
                                border-top-color: $color_1;
                            }
                        }
                        > .sub-nav
                        {
                            display: block;
                            border-top: 1px solid $color_gray_1;
                            margin-top: -1px;
                        }
                    }
                }
            }
        }
        .where-to-buy-block
        {
            align-self: stretch;
            height: 100%;
            overflow: hidden;

            > .wrapper
            {
                transform: translateY(calc(100% - 1.75em));
                @include transition();
            }

            &.active
            {
                > .wrapper
                {
                    transform: translateY(0);
                }
            }

            nav
            {
                @include vertical-gradient($color_gray_1, $color_gray_2);
                text-align: center;
                border-radius: 1em 1em 0 0;
                @include flex();
                a
                {
                    display: block;
                    width: 50%;
                    padding: .875em 0;
                    font-weight: 100;
                    font-size: .625em;
                    color: $color_black_1;
                    @include flex();
                    align-items: center;
                    justify-content: center;

                    &:nth-of-type(1)
                    {
                        border-right: 1px solid rgba(0,0,0, .25);
                    }
                    &:nth-of-type(2)
                    {
                        border-left: 1px solid rgba(255,255,255, .25);
                    }
                }
            }
            form
            {
                @include vertical-gradient($color_gray_3, $color_gray_4);
                @include flex();
                align-items: center;
                padding: .5em;

                input
                {
                    border: 2px solid $color_black_1;
                    background-color: $color_white_1;
                }
                @at-root .arrow-button //todo: move tocomponent style
                {
                    @include strip-button-styles;
                    @include flex();
                    align-items: center;
                    margin: .5em;
                    position: relative;
                    font-family: $font_2;

                    &:before
                    {
                        content: '';
                        margin: 0;
                        padding: 0;
                        display: block;
                        border-radius: 100%;
                        overflow: hidden;
                        z-index: 1;
                        position: relative;
                        background-color: $color_1;
                        height: 14px;
                        width: 14px;
                    }
                    &:after
                    {
                        content: '';
                        display: block;
                        z-index: 2;
                        position: absolute;
                        left: 5px;
                        top: 3px;
                        width: 0;
                        height: 0;
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                        border-left: 5px solid $color_white_1;

                    }
                    span
                    {
                        margin-left: .5em;
                        font-size: .75em;
                    }
                }
                .arrow-button
                {
                    color: $color_white_1;
                }
            }
        }
    }
}

