@import "variables";

@mixin aspect-ratio($width, $height)
{
    position: relative;
    &:before
    {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > div
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin transition($args: all .3s ease-in-out 0s)
{
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin absolute-fill
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@mixin page-width-wrapper
{
    width: 100%;
    max-width: $page_width;
    margin: 0 auto;

    @media (max-width: $page_width + 2rem)
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@mixin vertical-gradient($color_1, $color_2)
{
    background: $color_1; /* Old browsers */
    background: -moz-linear-gradient(top, $color_1 0%, $color_2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $color_1 0%, $color_2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $color_1 0%, $color_2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color_1}', endColorstr='#{$color_2}',GradientType=0 ); /* IE6-9 */
}

@mixin strip-button-styles()
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: none;
}

@mixin flex($inline: false)
{
    @if($inline)
    {
        display: -webkit-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    @else
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    //clearfix fallback
    .ua-ie-9 &:before,
    .ua-ie-8 &:before,
    .ua-ie-9 &:after,
    .ua-ie-8 &:after
    {
        content: " ";
        display: table;
    }
    .ua-ie-9 &:after,
    .ua-ie-8 &:after
    {
        clear: both;
    }
    & > *
    {
        float: left;
    }
}