$font_1: 'Gotham','Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font_2: 'Trebuchet','Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$color_1: #e62126; //base red
$color_2 :#fff200; //active yellow

$color_black_1: #000000; //headers

$color_white_1: #ffffff; //base white

$color_gray_1: #cccccc;
$color_gray_2: #898989; //placeholders
$color_gray_3: #707070; //sub text
$color_gray_4: #505050; //Gradient
$color_gray_5: #362f2d; //page nav
$link_color: #0054a6;


$page_width: 60rem;