$color_1: #e62126; //base red

$color_black_1: #000000; //headers

$color_white_1: #ffffff; //base white

$color_gray_1: #898989; //placeholders
$color_gray_2: #707070; //sub text
$color_gray_3: #362f2d; //page nav

$link_color: #0054a6;


$page_width_wrapper: 60em;