@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.hero-slider
{
    position: relative;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,.25);
    .hero-slider-nav
    {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        .hero-slider-arrow
        {
            &.prev
            {

            }
            &.next
            {

            }
        }

        .hero-slider-dots
        {
            li
            {
                &.active
                {

                }

                button
                {

                }

                .slide-preview
                {

                    .title
                    {

                    }
                    .image
                    {
                        img
                        {

                        }
                    }
                }
            }
        }
    }

    .slider-track
    {
        position: relative;
        z-index: 1;
    }

    .hero-slide
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        min-height: 35em;
        @include flex();
        align-items: center;
        background-color: $color_gray_3;
        color: $color_white_1;
        opacity: 0;

        &:first-of-type,
        &.active-slide
        {
            position: relative;
            z-index: 2;
            opacity: 1;
        }

        .background
        {
            @include absolute-fill;
            z-index: 1;
            background-size: cover;
            background-position: center center;


            img
            {
                opacity: 0;
                @include absolute-fill;
                object-fit: cover;
            }
        }

        > .wrapper
        {
            padding-bottom: 4.375em;
            z-index: 2;
            position: relative;
            @include page-width-wrapper;

            //todo: naming
            h4
            {
                font-size: .875em;
                -webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                -moz-text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                margin-bottom: .5em;
            }
            h1
            {
                font-size: 2.25em;
                -webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                -moz-text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                margin-bottom: .25em;
            }
            div
            {
                max-width: 25em;
                font-size: .875em;
                line-height: 1.25;
                margin-bottom: 1em;
                font-family: $font_2;
            }
            .button //todo
            {
                @include vertical-gradient($color_1, darken($color_1, 5%));
                color: $color_white_1;
                padding: .5em;
                overflow: hidden;
                display: inline-block;
                border-radius: .5em;
                align-items: center;
                box-shadow: 2px 2px 1px 1px rgba(0,0,0,.5);
                text-shadow: 2px 2px 2px rgba(0,0,0,.5);
                font-weight: bold;
                font-size: .75em;
                min-width: 12.5em;
                vertical-align: top;

                &:before
                {
                    content: '';
                    display: inline-block;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-left: 8px solid $color_white_1;
                    margin: .25em .5em -.125em .25em;
                    text-shadow: none;
                }
            }
        }
    }
}